# Entornos virtuales
venv/
env/
ENV/
.venv/
.virtualenv/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración y entorno
*.env
.env
.env.*

# Archivos de base de datos SQLite
*.sqlite3

# Archivos compilados
*.so
*.log
*.pot
*.pyc

# Archivos de migraciones (opcional, si prefieres generarlos de nuevo)
**/migrations/*.py
!**/migrations/__init__.py

# Archivos de Django
db.sqlite3
media/
staticfiles/
static/

# Archivos de editor o sistema
.DS_Store
*.swp
.idea/
.vscode/

# Archivos de cobertura de pruebas
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
coverage.xml
nosetests.xml
test_*.log

# Archivos de builds
build/
dist/
*.egg-info/

# Otros
*.bak
*.tmp
